 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


 body {
 	font-family: 'Ubuntu', sans-serif;
 }

 nav a {
 	text-decoration: none;
 	color: #fff;
 	font-size: 1.2rem;
 	font-weight: bold;
 }

 .con-bg {
 	background: #E44D26;
 	padding: 20px;
 }

.brand {
	font-size: 1.5rem;
	font-family: 'Dancing Script', cursive;
}

 .welcome-section {
	background: #242526;
	color: #fff;
	padding: 10rem 0;
}

.brief-intro {
	font-size: 45px;
	font-weight: bold;
	line-height: 1;
}

.brief-intro p {
	margin-bottom: 40px;
}

.myworksheading {
	font-size: 2rem;
}

.footer-bg {
	background: #242526;
	color: #fff;
	padding: 3rem 0;
	font-size: 1.8rem;
}

footer {
	font-size: 2rem;
	font-family: 'Dancing Script', cursive;
}
